[submodule "ITBS-Argentina/odoo-argentina"]
	path = ITBS-Argentina/odoo-argentina
	url = git@github.com:ITBS-Argentina/odoo-argentina.git
	branch = 15.0

[submodule "ITBS-Argentina/odoo-argentina-ee"]
	path = ITBS-Argentina/odoo-argentina-ee
	url = git@github.com:ITBS-Argentina/odoo-argentina-ee.git
	branch = 15.0

[submodule "ITBS-Argentina/account-payment"]
	path = ITBS-Argentina/account-payment
	url = git@github.com:ITBS-Argentina/account-payment.git
	branch = 15.0

[submodule "ITBS-Argentina/account-financial-tools"]
	path = ITBS-Argentina/account-financial-tools
	url = git@github.com:ITBS-Argentina/account-financial-tools.git
	branch = 15.0
